# Eclipse IDE workspace folder
/.metadata/

# Eclipse IDE generated folders for each project
lib/Debug
lib/.settings

src/Debug
src/.settings

test/Debug
test/.settings

###################################################

#VS Code
.vscode

###################################################

# Cmake build folder
build/

###################################################

# AgentSpeak translator
### Python
config/configuration.h

### Java
*.out
*.class

###################################################

# Doxygen
docs/html
docs/latex
docs/.settings

###################################################

# OSX
.DS_Store